name: myTecRSSPush
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:
  push:

jobs:
  rss-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: RSS to Telegram
        uses: j_f_v/rss-action@master  # 使用这个稳定的 Action
        with:
          token: ${{ secrets.TELEGRAM_TOKEN }}
          chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
          # 你的 RSS 链接列表
          feed_list: |
            https://evtolinsights.com/feed/
            https://www.urbanairmobilitynews.com/feed/
            https://verticalmag.com/category/evtol/feed/
            https://insideevs.com/rss/category/autonomous-vehicles/
            https://cnevpost.com/feed/
            https://techcrunch.com/category/transportation/feed/
            https://sifted.eu/tag/autonomous-vehicles/feed/
